/*
Title: Pack it css
By: Conrad Aube
For: VFW 04-2012
*/
body{
	margin: 0px;
	background-image: url(images/paper.png);
	background-size: 100%;
	background-repeat: repeat-y;
}
h1 {
	margin: 0px;
	border: 0px ;
	background-image: url(images/leathertop.png);
	background-size: 100%;
	padding: 0px ;
	color: white;
	text-align: center;
}
h2 {
	text-align: center;
}
textarea {
	display: block;
	width: 80%;
	height: 50px;
	margin-top: -3px;
}
fieldset {
	font-weight: bold;
	padding: 0px;
	
}
legend {
	font-size: larger;
	font-weight: bolder;
	
}
ul{
	list-style-type: none;
	line-height: 27px;
}
p{
	margin-top: 1px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 15px;
	font-size: large;
	line-height: 27px;
}
a:visited{
	color: navy;
}
a:link{
	color: black;
}
div{
	font-size: large;	
}
nav{
	text-align: center;
}
#addItem{
	font-size: larger;
	font-weight: bolder;
	margin: 5%;
	width: 90%;
	
}